/* --- Navbar --- */
a{
    outline-style: none;
}

.navbar-btn{
    margin-right: 5px;
}

.navbar li{
    text-align: center;
}

.navbar{
    border-radius: 0;
}

/* Modals */
.inputs_inscription_modal label, buttons_connexion_modal label{
    width: 200px;
    text-align: right;
    margin-right: 5px;
    margin-bottom: 10px;
}

.modal-header{
    background-image: url('../img/grain_cafe.jpg');
    font-size: 25px;
    color: white;
}

/* Modal Panier */
.item_remove_button{
    margin-top: 40px;
}

.item_pictures img{
  height: 75px;
}

.cart_item_title{
  font-weight: bold;
}

#cart_button{
  margin-top: 20px;
  margin-right: 10px;
  float: right;
}

.quantity_choice{
  margin-left: 5px;
  margin-right: 5px;
}

/* Contenu */
body{
    background-color: #DCDCDC;
}
.grains{
    margin-left: 32.5%;
    margin-top: 8%;
    border-radius: 50%;
}
.dolce, .nespresso, .senseo, .tassimo, .dosette_dolce, .dosette_nespresso, .dosette_senseo, .dosette_tassimo{
    border-radius: 50%;
}
.dolce{
    margin-left: 28.5%;
    margin-top: -65%;
}
.nespresso{
    margin-left: 23%;
    margin-top: -51%;
}
.senseo{
    margin-left: 22.5%;
    margin-top: -34.5%;
}
.tassimo{
    margin-left: 27%;
    margin-top: -18%;
}
.dosette_dolce{
    margin-left: 60%;
    margin-top: -78%;
}
.dosette_nespresso{
    margin-left: 65.8%;
    margin-top: -64%;
}
.dosette_senseo{
    margin-left: 66.5%;
    margin-top: -47%;
}
.dosette_tassimo{
    margin-left: 62.5%;
    margin-top: -31.5%;
}
footer{
    padding-top: 15px; 
    height: 100px;
    background-color: #A9A9A9;
}
.footer{
    padding-top: 20px
}

@media(max-width: 1200px) {
    .images{
        background-image: url('../img/grain_cafe_big.jpg');
    }
}