/***************************
--------Images lg md--------
***************************/
/* --- Navbar --- */
a{
    outline-style: none;
}
.navbar-btn{
    margin-right: 5px;
}
.navbar li{
    text-align: center;
}
.navbar{
    border-radius: 0;
}
/* Modals */
.inputs_inscription_modal label, buttons_connexion_modal label{
    width: 200px;
    text-align: right;
    margin-right: 5px;
    margin-bottom: 10px;
}
.modal-header{
    background-image: url('../img/grain_cafe.jpg');
    font-size: 25px;
    color: white;
}
/* Modal Panier */
.item_remove_button{
    margin-top: 40px;
}
.item_pictures img{
  height: 75px;
}
.cart_item_title{
  font-weight: bold;
}
#cart_button{
  margin-top: 20px;
  margin-right: 10px;
  float: right;
}
.quantity_choice{
  margin-left: 5px;
  margin-right: 5px;
}
/*bouton_prix*/
.bouton_prix{
  z-index: 2000;
}
/* Contenu */
body{
    background-color: #DCDCDC;
}
/***************************
-----------Footer-----------
***************************/
footer{
  padding-top: 15px;
  height: inherit;
  background-color: #A9A9A9;
  /*position: fixed;*/
  bottom: 0;
  right: 0;
  width: 100%;
}
.footer{
    padding-top: 20px
}
/***************************
------------Fond------------
***************************/
.fond{
  margin-top: 0;
  margin-left: 22.5%;
}
/***************************
---------Média fond---------
***************************/
@media screen and (max-width: 748px) {
    body{
      background-image: url('../img/grain_cafe_big.jpg');
      background-size: auto;
      background-repeat: no-repeat;
      height: inherit;
}
@media(max-width: 1200px){
    .images{
        background-image: url(../img/grain_cafe_big.jpg);
        background-size: cover;
    }
}
@media screen and (max-width: 990px) {
    .images{
        background-image: url(../img/grain_cafe_big.jpg);
        background-size: cover;
    }
}
>>>>>>> c986870f88ada7aeac65e724bed97ca3c48e2cf1
